In [1]:
import pandas as pd

In [2]:
games =pd.read_csv("E:/rpglite-data/games_all.csv")

In [3]:
games.head(5)

,Unnamed: 0,balance_code,mmr_p1,mmr_p2,mmr_winner,winrate1,winrate2,strat_1,strat_2,strat_1_onehot,strat_2_onehot,winner
0,0,1.0,827.500000,1007.520000,827.500000,0.60,0.608696,0.310345,0.163793,3,23,1
1,1,1.0,950.634981,826.985944,826.985944,0.44,0.666667,0.794335,0.310345,5,3,2
2,2,1.0,977.333333,827.500000,827.500000,0.00,0.600000,0.163793,0.310345,23,3,2
3,3,1.0,968.095122,827.500000,827.500000,0.00,0.571429,0.166256,0.794335,2,5,2
4,4,1.0,827.500000,826.985944,826.985944,0.60,0.285714,0.310345,0.163793,3,23,2

In [4]:
#new mmr, pick rate
case1=games.drop(['Unnamed: 0','winrate1','winrate2','mmr_winner','strat_1_onehot','strat_2_onehot'],axis=1)

In [5]:
case1.head(5)

   balance_code      mmr_p1       mmr_p2   strat_1   strat_2  winner
0           1.0  827.500000  1007.520000  0.310345  0.163793       1
1           1.0  950.634981   826.985944  0.794335  0.310345       2
2           1.0  977.333333   827.500000  0.163793  0.310345       2
3           1.0  968.095122   827.500000  0.166256  0.794335       2
4           1.0  827.500000   826.985944  0.310345  0.163793       2

In [6]:
#new mmr, onehot
case2=games.drop(['Unnamed: 0','winrate1','winrate2','mmr_winner','strat_1','strat_2'],axis=1)

In [7]:
case2.head(5)

,balance_code,mmr_p1,mmr_p2,strat_1_onehot,strat_2_onehot,winner
0,1.0,827.500000,1007.520000,3,23,1
1,1.0,950.634981,826.985944,5,3,2
2,1.0,977.333333,827.500000,23,3,2
3,1.0,968.095122,827.500000,2,5,2
4,1.0,827.500000,826.985944,3,23,2

In [8]:
#new mmr, winrate
case3=games.drop(['Unnamed: 0','strat_1_onehot','strat_2_onehot','mmr_winner','strat_1','strat_2'],axis=1)

In [9]:
case3.head(5)

   balance_code      mmr_p1       mmr_p2  winrate1  winrate2  winner
0           1.0  827.500000  1007.520000      0.60  0.608696       1
1           1.0  950.634981   826.985944      0.44  0.666667       2
2           1.0  977.333333   827.500000      0.00  0.600000       2
3           1.0  968.095122   827.500000      0.00  0.571429       2
4           1.0  827.500000   826.985944      0.60  0.285714       2

In [10]:
#Scikit-learn 다 import 씹라
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB

# Case 1 : New MMR System, pick rate

In [13]:
X=case1.drop(['winner'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, games['winner'], test_size=0.3, 
                                stratify = X['balance_code'])

RandomForest

In [14]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=200)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5219337511190689

In [15]:
clf.feature_importances_

array([0.03462305, 0.28943369, 0.26874528, 0.21414152, 0.19305646])

In [ ]:
svc=SVC(probability=True, kernel='linear')
abc =AdaBoostClassifier(n_estimators=10, base_estimator=svc,learning_rate=1)
model = abc.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
#Import Gaussian Naive Bayes model
#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train, y_train)

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild
print "Predicted Value:", predicted

# Case 2 with new MMR and one-hot

In [ ]:
X=case2.drop(['winner'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, games['winner'], test_size=0.3, 
                                stratify = X['balance_code'])

In [ ]:
#RandomForest
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=200)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
clf.feature_importances_

In [ ]:
svc=SVC(probability=True, kernel='linear')
abc =AdaBoostClassifier(n_estimators=10, base_estimator=svc,learning_rate=1)
model = abc.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
#Import Gaussian Naive Bayes model
#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train, y_train)

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild
print "Predicted Value:", predicted

# Case 3 with new MMR and win rate

In [11]:
X=case3.drop(['winner'],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, games['winner'], test_size=0.3, 
                                stratify = X['balance_code'])

In [12]:
#RandomForest
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=200)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6307072515666965

In [13]:
clf.feature_importances_

array([0.02697076, 0.17808667, 0.17533452, 0.30747498, 0.31213307])

In [ ]:
svc=SVC(probability=True, kernel='linear')
abc =AdaBoostClassifier(n_estimators=10, base_estimator=svc,learning_rate=1)
model = abc.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

#Create KNN Classifier
knn = KNeighborsClassifier(n_neighbors=5)

#Train the model using the training sets
knn.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = knn.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
#Import Gaussian Naive Bayes model
#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets
model.fit(X_train, y_train)

#Predict Output
predicted= model.predict(X_test) # 0:Overcast, 2:Mild
print "Predicted Value:", predicted